$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #b3e5fc;
$bg-secondary: #0091ea;
$transition-speed: 600ms;

.main-navbar {
  padding-left: 1rem;
}

.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    background: #181cfb;
  }
}

.sticky-navigation {
  padding: 1rem;
  grid-column: 1/4;
  color: #fff;
  background-color: black;
}

.sticky-footer {
  grid-column: 1/4;
  color: #fff;
  background-color: black;
}

.left-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px !important;
  margin: 0px;
  height: 100vh;
  border-bottom-right-radius: 1rem;
  a {
    color: #fff;
  }
  .sidebar-nav {
    width: 100%;
    user-select: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    text-decoration: none;
    // filter: grayscale(100%) opacity(0.7);
    transition: $transition-speed;

    &:hover {
      // filter: grayscale(0%) opacity(1);
      background: $bg-secondary;
      color: $text-secondary;
    }
  }
}

.right-side {
  background-color: #616161;
  grid-column: 3/4;
}

.middle {
  grid-column: 2/3;
  padding: 0 1rem 0 1rem;
}

@media (max-width: 768px) {
  .brand-logo {
    font-size: 1rem !important;
  }
}
